/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 8, ../sass/screen.scss */
#note-content {
  width: 500px;
  height: 400px;
  border: 1px dashed gray;
  overflow: auto;
}

/* line 15, ../sass/screen.scss */
#camera-view {
  display: none;
}

/* line 19, ../sass/screen.scss */
#video-canvas {
  display: none;
}

/* line 23, ../sass/screen.scss */
.captured {
  width: 200px;
  height: auto;
}
